@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your Financial Home Base</h1>
    <p class="lead">Come here to get real time snapshots of you or your clients stock portfolios.  View current data as well as past data. Even works with cryptocurrencies!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account once you are logged in, you will be able to create a snapshot of your portfolio.
        </p>

    </div>
</div>